.plantchoose__container {
    display: flex;
    justify-content: center;
    /*background: rgba(0, 0, 0, 0.34);*/
    backdrop-filter: blur(4.7px);
    
}

.plantchoose__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 37px 10px 0 10px;
    max-width: 1350px;
    width: 100%;
    min-width: 613px;
    height: auto;
    border-radius: 21px;
    background-color: #f8f8f8;
}

.plantchoose__sides {
    display: flex;
    justify-content: space-between;

    margin: 15px 10px 15px 10px;
    
}

.plantchoose__block_left {
    display: flex;
    align-items: center;
}

.plantchoose__title {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #555555;
    white-space: nowrap;
    margin: 0 0 0 32px;
    border: 0px;
}

.plantchoose__title::placeholder {
    color:#888888;
}

.plantchoose__title:focus {
    border: none;
    outline: none;
}

.plantchoose__search {
    position: relative;
    display: flex;
    margin: 0 0 0 32px;
}

.plantchoose__search_input {
    max-width: 389px;
    width: 100%;
    min-width: 200px;
    height: 55px;
    border-radius: 17px;
    background: #FFFFFF;
    box-shadow: 2px 4px 13px rgba(138, 138, 138, 0.25);
    border: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 45px;
}

.plantchoose__search_input::placeholder {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #888888;

}

.plantchoose__search_img {
    position: absolute;
    top: 19px;
    left: 20px;
}

.plantchoose__block_right {
    display: flex;
}

.plantchoose__delete {
    cursor: pointer;
}