@import '../vars';
@import '../mixins';
@import '../fonts';

@import './almanachChoose';


.wrapper {
    background-color: $backgroundColor;
    &--blured {
        filter: blur(5px);
        position: fixed;
        left: 13%;
    }
}

.sides-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: $backgroundColor;
    padding: 120px 0 0 0;
}

.left {
    position: fixed;
    width: 728px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    &-block {
        position: absolute;
        z-index: -2;
        width: 683px;
        height: 100vh;
        left: 45px;
        top: -8px;
        background: linear-gradient(163.17deg, #A9B2B6 3.45%, #9FA9AD 96.02%);
    }
    &-plant {
        position: absolute;
        z-index: 1;
        top: 31px;
        left: 0px;
    }
    &-grid {
        @include grayCircle();
        top: 20px;
        left: 54px;
        z-index: 2;
        transition: $transition;
        &:hover {
            background-color: #02006C17;
            img {
                filter: invert(16%) 
                        sepia(22%) 
                        saturate(5326%) 
                        hue-rotate(224deg) 
                        brightness(89%) 
                        contrast(141%);
                transition: $transition;
            }
        }
        &:active {
            background-color: #02006C;
        }
    }
    &-parameters {
        width: 535px;
        height: 121px;
        margin: 0 0 140px 40px;
        background: rgba(207, 207, 207, 0.45);
        backdrop-filter: blur(37px);
        border-radius: 34px;
        z-index: 2;
        
        div {
            @include grayCircle();
            margin: 20px 0 0 0;
            z-index: 2;
        }
    }
    &-humidity {
        left: 34px;
        transition: $transition;
        &:hover {
            background-color: #05646b17;
            img {
                filter: invert(31%) 
                        sepia(11%) 
                        saturate(3675%) 
                        hue-rotate(136deg) 
                        brightness(95%) 
                        contrast(96%);
                transition: $transition;
            }
        }
        &:active {
            background-color: #05646b;
        }

        
    }
    &-temperature {
        left: 163px;
        transition:$transition;
        &:hover {
            background-color: #8d090917;
            img {
                filter: invert(11%) 
                        sepia(58%) 
                        saturate(5277%) 
                        hue-rotate(353deg) 
                        brightness(92%) 
                        contrast(107%);
                transition: $transition;
            }
        }
        &:active {
            background-color: #8d0909;
        }
    }
    
    &-water {
        left: 292px;
        transition: $transition;
        &:hover {
            background-color: #02006C17;
            img {
                filter: invert(16%) 
                        sepia(22%) 
                        saturate(5326%) 
                        hue-rotate(224deg) 
                        brightness(89%) 
                        contrast(141%);
                transition: $transition;
            }
        }
        &:active {
            background-color: #02006C;
        }
    }
    
    &-sunshine {
        left: 421px;
        transition: $transition;
        &:hover {
            background-color: #A6A60017;
            img {
                filter: invert(57%) 
                        sepia(16%) 
                        saturate(6836%) 
                        hue-rotate(32deg) 
                        brightness(102%) 
                        contrast(101%);
                transition: $transition;
            }
        }
        &:active {
            background-color: #a6a600;
        }
    }
    
}

.right {
    position: sticky;
    width: 669px;
    margin: 0 30px 0 800px;
    &-name {
        @include lowTextFormat();
        font-weight: 500;
        font-size: 3vw;
        line-height: 44px;
        margin: 40px 0 0 0;
    }
    &-parameter {
        @include lowTextFormat();
        font-size: 2vw;
        padding: 130px 0 0 0;
        font-family: $secondFont;

    }
    &-desc {
        @include lowTextFormat();
        margin: 25px 0 0 0;
        font-family: $secondFont;
        font-size: 17px;
        line-height: 26px;
    }
    &-block {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin: 42px 0 104px 0;
        img {
            border-radius: 15px;
            width: 11vw;
            height: 11vw;
            z-index: -1;
        }
    }
}

@media (min-width: 1900px) {
    .left {
        
    }
    .right {
        &-name {
            font-size: 3vw;
            line-height: 44px;
        }
        &-parameter {
            font-size: 38px;
    
        }
        &-desc {
            font-size: 38px;
            line-height: 38px;
        }
        &-block {
            img {
                width: 209px;
                height: 209px;
            }
        }
    }
}

@media (max-width: 1330px) {
    .right {
        width: 80vw;
        margin: 0 30px 0 200px;
        &-name {
            text-align: left;
            font-size: 32px;
        }
        &-parameter {
            text-align: left;
            font-size: 23px;
            font-weight: 600;
        }
        &-desc {
            text-align: left;
            font-size: 21px;
            line-height: 24px;
        }
        &-block {
            img {
                width: 21vw;
                height: 21vw;
            }
        }
    }
    .left {
        &-block {
            display: none;
        }
        &-plant {
            display: none;
        }
        &-parameters {
            position: absolute;
            top: 111px;
            left: 58px;
            margin: 0 0 0 0;
            border-radius: 34px;
            height: 316px;
            width: 72px;
            div {
                width: 48px;
                height: 48px;
                margin: 0 0 0 0;
            }
        }
        &-water {
            left: 12px;
            top: 172px;
            img {
                width: 35px;
            }
        }
        &-temperature {
            left: 12px;
            top: 95px;
            img {
                width: 35px;
            }
        }
        &-humidity {
            top: 19px;
            left: 12px;
            img {
                width: 35px;
            }
        }        
        &-sunshine {
            left: 12px;
            top: 248px;
            img {
                width: 35px;
            }
        }
    }
}

@media (max-width: 760px) {
    .sides-container {
        padding: 70px 0 0 0;
    }
}

@media (max-width: 670px) {
    .right {
        margin: 0 30px 0 130px;
    }
    .left {
        &-grid {
            left: 26px;
        }
        &-parameters {
            left: 30px;
        }
    }
}

@media (max-width: 425px) {
    .right {
        margin: 0 30px 0 30px;
        z-index: 0;
    }
    .left {
        z-index: 1;
        &-parameters {
            position: fixed;
            top: 80vh;
            height: 72px;
            width: 340px;
            background: rgba(247, 247, 247, 0.48);
            -webkit-backdrop-filter: blur(6.5px);
            backdrop-filter: blur(6.5px);
        }
        &-grid {
            position: fixed;
            top: 65vh;
            left: 26px;
        }
        &-water {
            left: 12px;
            top: 10px
        }
        &-temperature {
            left: 98px;
            top: 10px
        }
        &-humidity {
            left: 190px;
            top: 10px;
        }        
        &-sunshine {
            left: 271px;
            top: 10px
        }
    }
}

@media (max-width: 375px) {
    .left {
        &-parameters {
            left: 0;
            width: 100vw;
            border-radius: 0px; 
        }
        &-grid {
            
        }
        &-water {
            left: 5vw;
        }
        &-temperature {
            left: 29vw;
        }
        &-humidity {
            left: 54vw;
        }        
        &-sunshine {
            left: 80vw;
        }
    }
}