@import '../vars';
@import '../mixins';
@import '../fonts';

@import './almanachChoose';


.wrapper {
    background-color: $backgroundColor;
}

.sides-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: $backgroundColor;
    padding: 120px 0 0 0;
}

.left {
    position: fixed;
    width: 728px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    &-block {
        position: absolute;
        z-index: -2;
        width: 683px;
        height: 100vh;
        left: 45px;
        top: -8px;
        background: linear-gradient(163.17deg, #A9B2B6 3.45%, #9FA9AD 96.02%);
    }
    &-plant {
        position: absolute;
        z-index: 1;
        top: 31px;
        left: 0px;
    }
    &-grid {
        @include grayCircle();
        top: 20px;
        left: 54px;
        z-index: 2;
        transition: $transition;
        &:hover {
            background-color: #02006C17;
            img {
                filter: invert(16%) 
                        sepia(22%) 
                        saturate(5326%) 
                        hue-rotate(224deg) 
                        brightness(89%) 
                        contrast(141%);
                transition: $transition;
            }
        }
        &:active {
            background-color: #02006C;
        }
    }
    &-parameters {
        width: 535px;
        height: 121px;
        margin: 0 0 140px 40px;
        background: rgba(207, 207, 207, 0.45);
        backdrop-filter: blur(37px);
        border-radius: 34px;
        z-index: 2;
        
        div {
            @include grayCircle();
            top: 20px;
            z-index: 2;
        }
    }
    &-humidity {
        left: 34px;
        transition: $transition;
        &:hover {
            background-color: #05646b17;
            img {
                filter: invert(31%) 
                        sepia(11%) 
                        saturate(3675%) 
                        hue-rotate(136deg) 
                        brightness(95%) 
                        contrast(96%);
                transition: $transition;
            }
        }
        &:active {
            background-color: #05646b;
        }

        
    }
    &-temperature {
        left: 163px;
        transition:$transition;
        &:hover {
            background-color: #8d090917;
            img {
                filter: invert(11%) 
                        sepia(58%) 
                        saturate(5277%) 
                        hue-rotate(353deg) 
                        brightness(92%) 
                        contrast(107%);
                transition: $transition;
            }
        }
        &:active {
            background-color: #8d0909;
        }
    }
    
    &-water {
        left: 292px;
        transition: $transition;
        &:hover {
            background-color: #02006C17;
            img {
                filter: invert(16%) 
                        sepia(22%) 
                        saturate(5326%) 
                        hue-rotate(224deg) 
                        brightness(89%) 
                        contrast(141%);
                transition: $transition;
            }
        }
        &:active {
            background-color: #02006C;
        }
    }
    
    &-sunshine {
        left: 421px;
        transition: $transition;
        &:hover {
            background-color: #A6A60017;
            img {
                filter: invert(57%) 
                        sepia(16%) 
                        saturate(6836%) 
                        hue-rotate(32deg) 
                        brightness(102%) 
                        contrast(101%);
                transition: $transition;
            }
        }
        &:active {
            background-color: #a6a600;
        }
    }
    
}

.right {
    position: sticky;
    width: 669px;
    margin: 0 0 0 800px;
    &-name {
        @include lowTextFormat();
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        margin: 40px 0 0 0;
    }
    &-parameter {
        @include lowTextFormat();
        margin: 17px 0 0 0;
        font-family: $secondFont;

    }
    &-desc {
        @include lowTextFormat();
        margin: 25px 0 0 0;
        font-family: $secondFont;
        font-size: 2vw;
        line-height: 2vw;
    }
    &-block {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin: 42px 0 104px 0;
        img {
            border-radius: 15px;
            width: 11vw;
            height: 11vw;
        }
    }
}