.real-header__wrapper {
    width: 100%;
    margin: 0 auto;
}

.real-header {
    position: fixed;
    background-color: $backgroundColor;
    z-index: 5;
    &__nav {
        ul {
            display: flex;
            flex-direction: row;
            font-family: $mainFont;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: $placeholderText;  
            list-style-type: none;
            gap: 26px;  
            margin: 43px 0 43px 94px;        
        }
        li {
            cursor: pointer;
            transition: $buttonTransition;
            &:hover {
                color: $bigButton;
            }
        }
    }
    &__dot {
        width: 7px;
        height: 7px;
        background-color: hsl(0, 0%, 85%);
        border-radius: 50%;
        margin: 10px 0 0 0;
    }
    hr {
        display: block;           
        height: 3px;              
        border: none;             
        border-top: 3px solid #ccc;           
        padding: 0;
        width: 100vw;
    }
}