$backgroundColor: #F8F8f8;
$arrowTransition: 2s;
$buttonTransition: 0.5s;
$transition: 1s;
$hoverBigButton: #569A62;
$bigButton: #498553;
$white: #ffffff;
$whiteText: #FCFDFC;
$placeholderText: #888888;
$mainText: #555555;
$mainBlockColor: #E6F1EB;
$mainFont: 'Montserrat';
$secondFont: 'Inter';
$btnHoverBackground: #D7EADD;