@import '../vars';
@import '../mixins';
@import '../fonts';

.settings {
    background-color: $backgroundColor;
    &__container {
        height: 100vh;
    }
    &__block {
        position: relative;
        left: 13%;
        padding: 150px 0 0 0;
    }
    &__person {
        display: flex;
    }
    &__wrapper{
            position: relative;
    }
    &__photo {
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 175px;
        height: 175px;
        border-radius: 50%;
        background-color: #D9D9D9;
        
    }
    .setting_name_block{
        display: flex;
    }
    &__name {
        display: flex;
        flex-direction: column;

        input {
            max-width: 222px;
            font-family: $mainFont;
            font-size: 24px;
            color: $mainText;
            white-space: nowrap;
            margin: 0 0 40px 0px;
            background-color:$backgroundColor;
            border: 0px;
            &::placeholder {
                color: $placeholderText
            }
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
    &__login-block {
        margin: 46px 0 0 0;
    }
    &__login-title {
        font-family: $secondFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $mainText;
        margin: 0 0 6px 0;
    }
    &__login {
        position: relative;
        input {
            max-width: 222px;
            font-family: $mainFont;
            font-size: 24px;
            color: $mainText;
            white-space: nowrap;
            margin: 0 0 0 0px;
            background-color:$backgroundColor;
            border: 0px;
            &::placeholder {
                color: $placeholderText
            }
            &:focus {
                border: none;
                outline: none;
            }
        }
        img {
            position: absolute;
        }
        
    }
    &__pas-block {
        margin: 31px 0 0 0;
    }
    &__pas-title {
        font-family: $secondFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $mainText;
        margin: 0 0 6px 0;
    }
    &__pas {
        position: relative;
        input {
            max-width: 222px;
            font-family: $mainFont;
            font-size: 24px;
            color: $mainText;
            white-space: nowrap;
            margin: 0 0 0 0px;
            background-color:$backgroundColor;
            border: 0px;
            &::placeholder {
                color: $placeholderText
            }
            &:focus {
                border: none;
                outline: none;
            }
        }
        img {
            position: absolute;
        }
    }
    &__button {
        border-radius: 7px;
        background-color: $red;
        color: $white;
        margin: 46px 0 0 0;
        width: 197px;
        height: 32px;
        
        font-family: $secondFont;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}