.plant {
    background-color: #E6F1EB;
}

.wrapper_plant {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.header_plant {
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 10px;
}

.header_plant__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_plant__left {
    display: flex;
    flex-direction: row;
}

.header_plant__parameters {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 0 0 30px;
}

.parameter {
    display: flex;
    flex-direction: column;
}

.parameter__title {
    margin: 0 0 15px 0;
}

.parameter__parameter {
    text-align: center;
}

.header_plant__right {

}

.norms_plant {
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
}

.norms_plant__container {
    display: flex;
    justify-content: space-between;
}

.line {
    display: flex;
}