a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
}

.body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: #F8F8F8;
}

.body--blured {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: #F8F8F8;
    filter: blur(5px);
}

.header__container {
    display: flex;
    margin: 23px auto 0px auto;
}

.header__back {
    display: flex;
    align-items: center;
}

.header__back_arrow {
    margin: 0 0 0 80px;
    cursor: pointer;
}


.header__home_button {
    font-family: 'Inter';
    color: #FCFDFC;
    width: 119px;
    height: 39px;
    border-radius: 15px;
    background-color: #498553;
    border: 0;
    margin: 0px 0px 0px 30px;
    cursor: pointer;
}

.header__search {
    position: relative;
    display: flex;
    width: 100%;
}

.header__search_input {
    max-width: 568px;
    width: 100%;
    min-width: 200px;
    height: 55px;
    border-radius: 17px;
    background: #FFFFFF;
    box-shadow: 2px 4px 13px rgba(138, 138, 138, 0.25);
    border: 0;
    margin: 0 15px 0 177px;
    padding: 0 0 0 45px;
}

.header__search_input::placeholder {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;

}

.header__search_img {
    position: absolute;
    top: 19px;
    left: 195px;
}

/*HEADER^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.main {}

.main__container {
    display: flex;
    justify-content: center;
    
}

.main__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 37px 10px 0 10px;
    max-width: 1350px;
    width: 100%;
    min-width: 613px;
    height: auto;
    border-radius: 21px;
    background-color: #E6F1EB;
}

.main__sides {
    display: flex;
    justify-content: space-between;

    margin: 15px 10px 15px 10px;
    
}

.main__block_left {
    display: flex;
    align-items: center;
}

.main__title {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #555555;
    white-space: nowrap;
    margin: 0 0 0 32px;
    background-color:#E6F1EB;
    border: 0px;
}

.main__title::placeholder {
    color:#888888;
}

.main__title:focus {
    border: none;
    outline: none;
}

.main__search {
    position: relative;
    display: flex;
    margin: 0 0 0 32px;
}

.main__search_input {
    max-width: 389px;
    width: 100%;
    min-width: 200px;
    height: 55px;
    border-radius: 17px;
    background: #FFFFFF;
    box-shadow: 2px 4px 13px rgba(138, 138, 138, 0.25);
    border: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 45px;
}

.main__search_input::placeholder {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #888888;

}

.main__search_img {
    position: absolute;
    top: 19px;
    left: 20px;
}

.main__add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #498553;
    border-radius: 12px;
    min-width: 50px;
    height: 50px;
    margin: 0 0 0 31px;
    cursor: pointer;
}

.main__plus {}

.main__show {
    margin: 0 0 0 20px;
    cursor: pointer;
}

.main__block_right {
    display: flex;
}

.main__delete {
    cursor: pointer;
}

/*MAIN^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.dashboard {
    align-self: center;
    margin: 0 0 10px 0;
    transition: 1s;
}

.dashboard--hidden {
    display: none;
    transition: 1s;
}

.dashboard__container {
    max-width: 1300px;
    width: 95vw;
    background-color: #D7EADD;
    border-radius: 17px;
    padding: 13px 0 13px 0;  
}

.dashboard__header {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.dashboard__header_left {
    display: flex;
    align-items: center;
}

.dashboard__title {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #555555;
    white-space: nowrap;
    margin: 0 0 0 32px;
}

.dashboard__weigh {
    font-family: 'Montserrat';
    cursor: pointer;
    margin: 0 0 0 10px;
    color:#555555;
}

.dashboard__button {
    font-family: 'Inter';
    color: #FCFDFC;
    width: 166px;
    height: 39px;
    border-radius: 15px;
    background-color: #498553;
    border: 0;
    margin: 0px 0px 0px 30px;
    cursor: pointer;
}

.dashboard__calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #498553;
    border-radius: 12px;
    min-width: 50px;
    height: 50px;
    margin: 0 0 0 32px;
    cursor: pointer;
}

.calendar {}

.dashboard__show {
    margin: 0 0 0 20px;
    cursor: pointer;
}

.dashboard__delete {
    align-self: flex-end;
    cursor: pointer;
}

/*HEADER DASHBOARD^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.dashboard__blocks {
    margin: 17px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.dashboard__blocks--hidden {
    visibility: hidden;
    max-width: 1300px;
    width: 95vw;
    height: 0px;
}

.block {
    background-color: #F8F8F8;
    border-radius: 8px;
    width: 583px;
    height: auto;
    box-shadow: 0px 4px 10.1px rgba(0, 0, 0, 0.2);
}

.block__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block__header-left{
    display: flex;
    gap: 20px;
}

.block__title {
    font-family: 'Inter';
    color: #555555;
    align-self: center;
    margin: 0 0 0 14px;
}

.block__parameter {
    font-family: 'Montserrat';
    color: #498553;
    align-self: center;
}

.block__emotion {
    align-self: center;
}

.block__header-right{
    padding: 0 15px 0 0;
}

.block__radio {
    display: flex;
}

.block__radio input {
    z-index: 2;
    display: none;
}

.radio-1 {
    border-bottom-left-radius: 20px;
}

.radio-2 {
    
}

.radio-3 {
    border-bottom-right-radius: 20px;
}

.block__castom-radio {
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    width: 105px;
    height: 35px;
    
    background-color: #E6F1EB;
    
    font-family: 'Inter';
    font-size: 16px;
    
    color: #555555;
}

.block__radio input:checked + .block__castom-radio {
    display: flex;
    background-color: #D7EADD;
}

.block__graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 15px 10px;
}

/*BLOCK DASHBOARD^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.section {
    margin: 30px 10px 0 10px;
}

.section__container {
    display: flex;
    justify-content: center;
}

.section__block {
    display: flex;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    height: 81px;
    border-radius: 21px;
    background-color: #E6F1EB;
    cursor: pointer;
}

.section__title {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #555555;
    white-space: nowrap;
    margin: 0 0 0 32px;
}

/*ADD^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.plantchoose__container {
    position: relative;
    display: flex;
    justify-content: center;
}

.plantchoose__block {
    z-index: 1;
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 60px;
    max-width: 1350px;
    width: 90%;
    min-width: 613px;
    height: auto;
    border-radius: 21px;
    background-color: #f8f8f8;
}

.plantchoose__sides {
    display: flex;
    justify-content: space-between;

    margin: 15px 10px 15px 10px;
    
}

.plantchoose__block_left {
    display: flex;
    align-items: center;
}

.plantchoose__title {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #555555;
    white-space: nowrap;
    margin: 0 0 0 32px;
    border: 0px;
}

.plantchoose__title::placeholder {
    color:#888888;
}

.plantchoose__title:focus {
    border: none;
    outline: none;
}

.plantchoose__search {
    position: relative;
    display: flex;
    margin: 0 0 0 32px;
}

.plantchoose__search_input {
    max-width: 389px;
    width: 100%;
    min-width: 200px;
    height: 55px;
    border-radius: 17px;
    background: #FFFFFF;
    box-shadow: 2px 4px 13px rgba(138, 138, 138, 0.25);
    border: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 45px;
}

.plantchoose__search_input::placeholder {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #888888;

}

.plantchoose__search_img {
    position: absolute;
    top: 19px;
    left: 20px;
}

.plantchoose__block_right {
    display: flex;
}

.plantchoose__delete {
    cursor: pointer;
}

/*PLANT CHOOSE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.pots .points {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 14px;
    
}

.point-1 {
    position: relative;
    width: 412px;
    height: 228px;
    margin: 20px 20px;
    border-radius: 20px;
    background: #E9F3ED; 
}

.top {
    position: absolute;
    width: 195px;
    height: 139px;
    border-radius: 16px 0px 95px 0px;
    background: #D7EADD;
}

.pots__plant {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: -6px;
}

.pots__plant-face{
    position: absolute;
    z-index: 2;
    top: 128px;
    left: 74px;
}

.pots__dl {
    position: absolute;
    top:22px;
    left:212px;
    margin: 0px;
}

.pots__dt {
    color: #498553;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 7px;
}

.pots__dd-1 {
    color: #888;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    margin-bottom: 7px;
}

.pots__dd-2 {
    color: #888;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
}

/*PLANT CHOOSE/ MY PLANTS^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


@media (max-width: 1260px) {
    .block {
        width: 46vw;
    }
    .block__castom-radio {
        width: 7vw;
    }
}

@media (max-width: 1300px) {
    /* .block {
        width: 587px;
    }
    .block__castom-radio {
        width: 105px;
    } */
    .block {
        width: 90vw;
        height: 46vw;
    }
    .block__graph {
        width: 90vw;
        height: 37vw;
        margin: 15px 0px;
    }
    .block__castom-radio {
        justify-self: flex-end;
        width: 105px;
    }
}