@font-face {
    font-family: "Montserrat";
    src: url(../../public/Montserrat.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../../public/Inter.ttf);
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
}

.body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: #F8F8F8;
}

.body--blured {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: #F8F8F8;
    filter: blur(5px);
    overflow: hidden;
}

.header__container {
    display: flex;
    margin: 23px auto 0px auto;
}

.header__back {
    display: flex;
    align-items: center;
}

.header__back_arrow {
    margin: 0 0 0 80px;
    cursor: pointer;
}

.header__home_button {
    display: flex;
    font-family: 'Inter';
    color: #FCFDFC;
    width: 119px;
    height: 39px;
    border-radius: 15px;
    background-color: #498553;
    border: 0;
    margin: 0px 0px 0px 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.header__home_img {
    display: none;
}

.header__search {
    position: relative;
    display: flex;
    width: 100%;
}

.header__search_input {
    max-width: 568px;
    width: 100%;
    min-width: 200px;
    height: 55px;
    border-radius: 17px;
    background: #FFFFFF;
    box-shadow: 2px 4px 13px rgba(138, 138, 138, 0.25);
    border: 0;
    margin: 0 15px 0 177px;
    padding: 0 0 0 45px;
}

.header__search_input::placeholder {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;

}

.header__search_img {
    position: absolute;
    top: 19px;
    left: 195px;
}

/*HEADER^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.main {}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 37px 10px 0 10px;
    /* max-width: 1350px;
    width: 100%;
    min-width: 613px; */
    height: auto;
    border-radius: 21px;
    background-color: #E6F1EB;
}

.main__sides {
    display: flex;
    justify-content: space-between;

    margin: 15px 10px 15px 10px;
    
}

.main__block_left {
    display: flex;
    align-items: center;
}

.main__title {
    max-width: 222px;
    font-family: 'Montserrat';
    font-size: 24px;
    color: #555555;
    white-space: nowrap;
    margin: 0 0 0 32px;
    background-color:#E6F1EB;
    border: 0px;
}

.main__title::placeholder {
    color:#888888;
}

.main__title:focus {
    border: none;
    outline: none;
}

.main__search {
    position: relative;
    display: flex;
    margin: 0 0 0 32px;
}

.main__search_input {
    max-width: 389px;
    width: 100%;
    min-width: 200px;
    height: 55px;
    border-radius: 17px;
    background: #FFFFFF;
    box-shadow: 2px 4px 13px rgba(138, 138, 138, 0.25);
    border: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 45px;
}

.main__search_input::placeholder {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #888888;

}

.main__search_img {
    position: absolute;
    top: 19px;
    left: 20px;
}

.main__add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    border-radius: 12px;
    min-width: 37px;
    height: 37px;
    margin: 0 0 0 31px;
    cursor: pointer;
}

.main__plus {
    color:#498553;
}

.main__show_background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    border-radius: 12px;
    width: 37px;
    height: 37px;
    margin: 0 0 0 27px;
    cursor: pointer;
}

.main__show {
    cursor: pointer;
    transition: 1s;
}

.main__block_right {
    display: flex;
}

.main__delete_background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    border-radius: 12px;
    width: 37px;
    height: 37px;
    margin: 0 0 0 27px;
    cursor: pointer;
}

.main__delete {
    cursor: pointer;
}

.main__block_under_sides {
    display: none;
}

/*MAIN^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.dashboard {
    opacity: 1;
    align-self: center;
    margin: 0 0 10px 0;
    position: relative; 
    transition: opacity 1s ease; 
}

.dashboard--hidden {
    opacity: 0;
    position: absolute; 
    top: -9999px; 
    left: -9999px;
    transition: opacity 1s ease;
}

.dashboard__container {
    max-width: 1300px;
    width: 95vw;
    background-color: #D7EADD;
    border-radius: 17px;
    padding: 13px 0 13px 0;  
}

.dashboard__header {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin-right: 10px;
}

.dashboard__header_left {
    display: flex;
    align-items: center;
}

.dashboard__title {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #555555;
    white-space: nowrap;
    margin: 0 0 0 32px;
}

.dashboard__weigh {
    font-family: 'Montserrat';
    cursor: pointer;
    margin: 0 0 0 10px;
    color:#555555;
}

.dashboard__button {
    font-family: 'Inter';
    color: #FCFDFC;
    width: 166px;
    height: 39px;
    border-radius: 15px;
    background-color: #498553;
    border: 0;
    margin: 0px 0px 0px 30px;
    cursor: pointer;
}

.dashboard__calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #498553;
    border-radius: 12px;
    min-width: 50px;
    height: 50px;
    margin: 0 0 0 32px;
    cursor: pointer;
}

.calendar {}

.dashboard__show_background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    border-radius: 12px;
    width: 37px;
    height: 37px;
    margin: 0 0 0 27px;
    cursor: pointer;
}

.dashboard__show {
    cursor: pointer;
    transition: 1s;
}

.dashboard__delete_background {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    border-radius: 12px;
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.dashboard__delete {
    cursor: pointer;
}

/*HEADER DASHBOARD^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.dashboard__blocks {
    margin: 17px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    position: relative;
    transition: opacity 1s ease; 
}

.dashboard__blocks--hidden {
    display: none;
    max-width: 1300px;
    width: 95vw;
    height: 0px;
    opacity: 0;
    position: absolute; 
    top: -9999px; 
    left: -9999px;
    transition: opacity 1s ease;
}

.block {
    background-color: #F8F8F8;
    border-radius: 8px;
    width: 583px;
    height: auto;
    box-shadow: 0px 4px 10.1px rgba(0, 0, 0, 0.2);
}

.block__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block__header-left{
    display: flex;
    gap: 20px;
}

.block__title {
    font-family: 'Inter';
    color: #555555;
    align-self: center;
    margin: 0 0 0 14px;
}

.block__parameter {
    font-family: 'Montserrat';
    color: #498553;
    align-self: center;
}

.block__emotion {
    align-self: center;
}

.block__header-right{
    padding: 0 15px 0 0;
}

.block__radio {
    display: flex;
}

.block__radio input {
    z-index: 2;
    display: none;
}

.radio-1 {
    border-bottom-left-radius: 20px;
}

.radio-2 {
    
}

.radio-3 {
    border-bottom-right-radius: 20px;
}

.block__castom-radio {
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    width: 105px;
    height: 35px;
    
    background-color: #E6F1EB;
    
    font-family: 'Inter';
    font-size: 16px;
    
    color: #555555;
}

.block__radio input:checked + .block__castom-radio {
    display: flex;
    background-color: #D7EADD;
}

.block__graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 15px 10px;
}

/*BLOCK DASHBOARD^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.section {
    margin: 30px 10px 0 10px;
}

.section__container {
    display: flex;
    justify-content: center;
}

.section__block {
    display: flex;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    height: 81px;
    border-radius: 21px;
    background-color: #E6F1EB;
    cursor: pointer;
}

.section__title {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #555555;
    white-space: nowrap;
    margin: 0 0 0 32px;
}

/*ADD^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.plantchoose {
}

.plantchoose__blur {
    position: absolute;
    width: 100vw;
    z-index: 1;
    height: 100vh;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
}

.plantchoose__container {
    position: relative;
    display: flex;
    justify-content: center;
    filter: none !important;
}

.plantchoose__block {
    z-index: 1;
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 60px;
    max-width: 1350px;
    width: 90%;
    min-width: 510px;
    height: auto;
    border-radius: 21px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 14.1px rgba(0, 0, 0, 0.25);

}

.plantchoose__sides {
    display: flex;
    justify-content: space-between;

    margin: 15px 10px 15px 10px;
    
}

.plantchoose__under_sides {
    display: none;
}

.plantchoose__block_left {
    display: flex;
    align-items: center;
}

.plantchoose__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #555555;


    white-space: nowrap;
    margin: 0 0 0 32px;
    border: 0px;
}

.plantchoose__title::placeholder {
    color:#888888;
}

.plantchoose__title:focus {
    border: none;
    outline: none;
}

.plantchoose__search {
    position: relative;
    display: flex;
    margin: 0 0 0 32px;
}

.plantchoose__search_input {
    max-width: 389px;
    width: 100%;
    min-width: 300px;
    height: 55px;
    border-radius: 17px;
    background: #FFFFFF;
    box-shadow: 2px 4px 13px rgba(138, 138, 138, 0.25);
    border: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 45px;
}

.plantchoose__search_input::placeholder {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #888888;

}

.plantchoose__search_img {
    position: absolute;
    top: 19px;
    left: 20px;
}

.plantchoose__block_right {
    display: flex;
}

.plantchoose__delete {
    cursor: pointer;
}

/*PLANT CHOOSE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.plantchoose__pots {

}

.plantchoose__points {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 60vh;
    overflow: auto;
}

.plantchoose__myplants_points {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 14px;
    
}

.plantchoose__myplants_point-1 {
    position: relative;
    width: 412px;
    height: 228px;
    margin: 20px 20px;
    border-radius: 20px;
    background: #E9F3ED; 
    cursor: pointer;
}

.plantchoose__myplants_top {
    position: absolute;
    width: 195px;
    height: 139px;
    border-radius: 16px 0px 95px 0px;
    background: #D7EADD;
}

.plantchoose__shadow {
    position: absolute;
    background: rgba(0, 0, 0, 0.12);
    filter: blur(5px);
    border-radius: 20px;
    top: 180px;
    left: 55px;
    width: 79px;
    height: 14px;
}

.plantchoose__myplants_pots__plant {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: -6px;
}

.plantchoose__myplants_pots__plant-face{
    position: absolute;
    z-index: 2;
    top: 128px;
    left: 74px;
}

.plantchoose__myplants_pots__dl {
    position: absolute;
    top:22px;
    left:212px;
    margin: 0px;
}

.plantchoose__myplants_pots__dt {
    color: #498553;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 7px;
}

.plantchoose__myplants_pots__dd-1 {
    color: #888;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    margin-bottom: 7px;
}

.plantchoose__myplants_pots__dd-2 {
    color: #888;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
}

/*PLANT CHOOSE/ MY PLANTS^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.side_panel {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    
}

.side_panel__container {
    position: fixed;
    box-sizing: border-box;
    background-color: #F8F8F8;
    width: 443px;
    height: 100vh;
    top: 0px;
    right: 0px;
}

.side_panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    width: 444px;
    background-color: #569A62;
    color:#F8F8F8;
    font-family: 'Inter';
    font-size: 24px;
}

.side_panel__header_right {
    margin: 0 10px 0 0 ;
}

.side_panel__header_close {
    cursor: pointer;
}

.side_panel__title {
    margin: 0 0 0 17px;
}

.messagebox_wrapper {
    overflow: auto;
    height: 100%;
}

.messagebox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 45px 0 0 15px;
}

.messagebox__plant_name {
    max-width: 200px;
    font-family: 'Montserrat';
    font-size: 24px;
    color: #555555;
    white-space: nowrap;
    margin: 0 0 10px 0px;
    border: 0px;
}

.messagebox__graph_block {
    width: 396px;
    height: 228px;
    background: #F8F8F8;
    box-shadow: 0px 1px 9.4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.messagebox__graph_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #555555;
    margin: 10px 0 0 10px;
}

.messagebox__graph {

}

.messagebox__message_block {
    font-family: 'Inter';
    font-size: 14px;
    color: #555555;
    margin: 25px 0 0 0;
}

.messagebox__message {    
    width: 348px;
    height: 92px;
    background: #F8F8F8;
    box-shadow: 0px 1px 9.4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.messagebox__message_title {
    width: 348px;
    height: 27px;
    background: #E6F1EB;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 10px 0 10px;
}

.messagebox__message_description {
    padding: 10px 0 0 10px;
}

.messagebox__hr {
    width: 400px;
    height: 6px;
    background: #D7EADD;
    border-radius: 10px;
    margin: 50px 0 0 0;
}

/*PROBLEMS^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.calendar__container {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.calendar__block {
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 37px 10px 0 10px;
    max-width: 1350px;
    width: 100%;
    min-width: 613px;
    height: auto;
    border-radius: 21px;
    background-color: #f8f8f8;
}

.calendar__sides {
    display: flex;
    justify-content: space-between;

    margin: 15px 10px 15px 10px;
    
}

.calendar__block_left {
    display: flex;
    align-items: center;
}

.calendar__title {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #555555;
    white-space: nowrap;
    margin: 0 0 0 32px;
    border: 0px;
}

.calendar__title::placeholder {
    color:#888888;
}

.calendar__title:focus {
    border: none;
    outline: none;
}

.calendar__buttons_block {
    position: relative;
    display: flex;
    margin: 0 0 0 32px;
}

.calendar__block__radio {
    display: flex;
    gap: 20px;
}

.calendar__block__radio input {
    z-index: 2;
    display: none;
}

.calendar__block__castom-radio {
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    width: 105px;
    height: 50px;
    border-radius: 11px;
    
    background-color: #569A62;
    
    font-family: 'Inter';
    font-size: 16px;
    
    color: #f8f8f8;
}

.calendar__block__radio input:checked + .calendar__block__castom-radio {
    display: flex;
    background-color: #498553;
}

.calendar__button_ical {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #498553;
    color: #f8f8f8;
    border-radius: 12px;
    min-width: 50px;
    height: 50px;
    margin: 0 0 0 31px;
    padding: 0 10px;
    cursor: pointer;
}

.calendar__block_right {
    display: flex;
}

.calendar__delete {
    cursor: pointer;
}

/*CALENDAR^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


@media (max-width: 1260px) {
    .block {
        width: 46vw;
    }
    .block__castom-radio {
        width: 7vw;
    }
}

@media (max-width: 1300px) {
    /* .block {
        width: 587px;
    }
    .block__castom-radio {
        width: 105px;
    } */
    .block {
        width: 90vw;
        height: 46vw;
    }
    .block__graph {
        width: 90vw;
        height: 37vw;
        margin: 15px 0px;
    }
    .block__castom-radio {
        justify-self: flex-end;
        width: 105px;
    }
}

@media (max-width: 715px) {
    .header__back_arrow {
        margin: 0 0 0 15px;
    }

    .header__search_input {
        margin: 0 15px;
    }

    .header__search_img {
        left: 35px;
    }

    .main__sides .main__add {
        display: none;
    }
    
    .main__sides .main__show_background {
        display: none;
    }

    .main__sides .main__title {
        display: none;
    }

    .main__block_under_sides {
        display: flex;
        margin: 0px 10px 15px 10px;
    }

    .plantchoose__block {
        width: 100vw;
        height: 100vh;
        position: absolute;
        margin: 0 0 0 0;
        border-radius: 0;
        justify-content: flex-start;
        min-width: 0px;
    }

    .plantchoose__points {
        max-height: 90vh;
        padding: 40px 0 0 0;
    }

    .plantchoose__sides {
        margin: 0 0 0 0;
    }

    .plantchoose__under_sides {
        display: flex;
    }

    .plantchoose__myplants_point-1 {
        width: 52vw;
    }

    .plantchoose__myplants_pots__dd-2 {
        display: none;
    }

    .plantchoose__sides .plantchoose__search_input {
        display: none;
        height: 25px;
        border-radius: 8px;
        padding: 0 0 0 27px;
    }

    .plantchoose__sides .plantchoose__search_img {
        display: none;
        width: 11px;
        height: 10px;
        top: 7px;
        left: 10px;
    }

    .plantchoose__search_input {
        height: 30px;
        width: 219px;
        min-width: 0px;
        border-radius: 8px;
        padding: 0 0 0 27px;
        margin: 0 0 0 32px;
    }

    .plantchoose__search_img {
        width: 11px;
        height: 10px;
        top: 59px;
        left: 40px;
    }

    .plantchoose__search_input::placeholder {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
    }

    .plantchoose__title {

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */

        color: #555555;
    }

    .plantchoose__delete {
        width: 40px;
    }

    .plantchoose__block_left {
        flex-wrap: wrap;
    }

    .plantchoose__myplants_pots__dl {
        left: 0px;
    }

    .plantchoose__myplants_pots__dt {

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        color: #498553;
        margin: 0 0 0 10px;
    }

    .plantchoose__myplants_pots__dd-1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #888888;
        margin: 30px 0 0 10px;
    }

    .plantchoose__myplants_top {
        width: 136px;
        height: 63px;
        background: #D7EADD;
        border-radius: 13px 13px 50px 0;

    }

    .plantchoose__shadow {
        position: absolute;
        background: rgba(0, 0, 0, 0.12);
        filter: blur(5px);
        border-radius: 20px;
        top: 41px;
        left: 78px;
        width: 43px;
        height: 14px;
    }

    .plantchoose__myplants_point-1 {
        height: 94px;
        width: 137px;
        margin: 10px 10px;
    }

    .plantchoose__myplants_pots__plant {
        width: 106px;
        height: 106px;
        top: -50px;
        left: 50px;
    }

    .plantchoose__myplants_pots__plant-face {
        width: 29px;
        height: 29px;
        top: 10px;
        left: 90px;
    }

    .dashboard__container {
        width: 90vw;
    }

    .block {
        width: 85vw;
        height: 50vw;
    }

    .block__castom-radio {
        width: 70px;
    }

    .block__graph {
        width: 85vw;
        height: 40vw;
    }
}

@media (max-width: 520px) {
    .header__home_button {
        display: none;
    }
    
    .header__home_img {
        display: block;
        margin: 0 0 0 15px;
    }

    .header__search_input {
        height: 30px;
        border-radius: 8px;
        padding: 0 0 0 27px;
    }

    .header__search_input::placeholder, 
    .main__search_input::placeholder {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
    }

    .header__search_img {
        width: 11px;
        height: 10px;
        top: 10px;
        left: 22px;
    }

    .main__block {
        margin: 20px 10px 0 10px;
        border-radius: 15px;
    }

    .main__sides {
        margin: 15px 15px 0 15px;
    }

    .main__search {
        margin: 0 0 0 0;
    }

    .main__search_input {
        height: 30px;
        border-radius: 8px;
        padding: 0 0 0 27px;
    }

    .main__search_img {
        width: 11px;
        height: 10px;
        left: 7px;
        top: 10px;
    }
    
    .main__delete {
        width: 29px;
        height: 29px;
    }

    .main__block_under_sides {
        margin-top: 8px;
    }

    .main__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 0 6px;
    }

    .main__add {
        min-width: auto;
        width: 37px;
        height: 37px;
        border-radius: 12px;
        margin: 0 0 0 0px;
    }

    .main__plus {
        width: 29px;
        height: 29px;
    }

    .main__show {
        width: 29px;
        height: 29px;
    }

    .dashboard__container {
        padding: 0 0 0 0;
        border-radius: 15px;
    }

    .dashboard__header {
        margin: 0px 12px 0 12px;
        padding: 10px 0 10px 0;
    }

    .dashboard__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 0 6px; 
    }

    .dashboard__weigh {
        display: none;
    }

    .dashboard__button {
        width: 61px;
        height: 22px;
        border-radius: 5px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    .dashboard__show {
        width: 29px;
        height: 29px;
    }

    .dashboard__delete {
        width: 29px;
        height: 29px;
    }

    .block__header-left {
        gap: 5px;
    }

    .block__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    .block__parameter {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }
    
    .block__castom-radio {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;

        width: 48px;
        height: 18px;
    }

    .radio-1 {
        border-bottom-left-radius: 12px;
    }

    .radio-3 {
        border-bottom-right-radius: 12px;
    }

    .block__emotion img {
        width: 20px;
        height: 20px;
    }

    .section__block {
        border-radius: 15px;
        height: 35px;
    }

    .section__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    .side_panel__container {
        width: 100vw;
    }

    .side_panel__header {
        width: 100vw;
    }

    .messagebox {
        margin: 45px 20px 0 20px;
    }

    .messagebox__graph_block {
        width: 90vw;
        height: 55vw;
    }

    .messagebox__message {
        width: 90vw;
    }

    .messagebox__graph {
        display: flex;
        justify-content: center;
    }

    .messagebox__message_title {
        width: 90vw;
    }

    .messagebox__hr {
        width: 90vw;
    }
}