@import '../vars';
@import '../mixins';
@import '../fonts';


@import './header';
@import './main';
@import './dashboard';
@import './section';
@import './plantchoose';
@import './sidePanel';
@import './calendar';




a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
}

@mixin bodyStyle {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: $backgroundColor;
}

.body {
    @include bodyStyle();
    color: $backgroundColor;
    &--blured {
        @include bodyStyle();
        filter: blur(5px);
        overflow: hidden;
    }
}

